body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4zlmDMsQHzHHjZT2QZCgYlW753uWEjAWWjQ&s);
}

header {
    border-style: solid;
    background-color: #f0f0f0; /* Example background color */
}

main {
    background-color: #ffffff; /* Example background color */
    height: 80%;
    width: 70%;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4zlmDMsQHzHHjZT2QZCgYlW753uWEjAWWjQ&s);
}

header {
    border-style: solid;
    background-color: #f0f0f0; /* Example background color */
}

main {
    background-color: #ffffff; /* Example background color */
    height: 80%;
    width: 70%;
    margin: 15px;
    padding: 10px;
}

footer {
    background-color: #f0f0f0; /* Example background color */
    margin: 50px;
    padding: 10px;
}

.job-title {
    font-weight: bold;
    color: maroon;
}

iframe {
    width: 100%;
    height: 600px;
}

/* Styles for the large ordered list */
.large-list {
    font-size: 25px; /* Set font size to 25px */
    font-weight: bold; /* Set font weight to bold */
}

/* Styles for unordered lists inside ordered lists */
.large-list ul {
    font-size: 18px; /* Set font size for sublists to 18px */
    font-weight: normal; /* Set font weight for sublists to normal */
}

/* Styles for images */
.image-gallery {
    display: flex; /* Use flexbox for layout */
    justify-content: space-around; /* Space images evenly */
    margin-top: 20px; /* Add some space above the image gallery */
}

.image-gallery img {
    width: 200px; /* Set width to 200px */
    height: 200px; /* Set height to 200px */
    border: 5px solid black; /* Add a solid black border */
}


footer {
    background-color: #f0f0f0; /* Example background color */
}

.job-title {
    font-weight: bold;
    color: maroon;
}

iframe {
    width: 100%;
    height: 600px;
}

/* Styles for the large ordered list */
.large-list {
    font-size: 25px; /* Set font size to 25px */
    font-weight: bold; /* Set font weight to bold */
}

/* Styles for unordered lists inside ordered lists */
.large-list ul {
    font-size: 18px; /* Set font size for sublists to 18px */
    font-weight: normal; /* Set font weight for sublists to normal */
}
